*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.display-container{
    height: 100vh;
    width: 80%;
    margin: 40px auto;
}

.display-container h2{
    text-align: center;
    padding-top: 30px;
}

.summary{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 10px  30px;
    font-size: large;
    line-height: 30px;
    margin: 20PX auto;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.income{
    color: green;
}

.expense{
    color: red;
}

.form-container{
    width: 100%;
    height: 50px;
   
 
}

input,select{
    height: 30px;
    margin:5px;
    border-radius: 5px;
    padding: 5px;
   
}

#btn{
    padding: 8px 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

.table-container{
    height: 100px;
    width: 100%;
    text-align: center;
}

thead tr th{
    background-color: blue;
    color: white;
    padding: 10px;

}

tbody tr td {
    background-color: rgb(227, 227, 227);
    padding: 10px;
   
}
